{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>学海无涯</h1>
    <small>目前有{% total_articles %}篇文章供你阅读</small>


</div>
<div class="container">
    {% for article in articles %}
    <div class="list-group">
        <a href="{{article.get_url_path}}" class="list-group-item active">
            <h4 class="list-group-item-heading">{{article.title}}</h4>
        </a>
        <pclass="list-group-item-text">作者：<strong></pclass><a href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a></strong></p>
        <p class="list-group-item-text">概要：<strong>{{article.body|slice:'15'| linebreaks}}</strong></p>
    </div>
    {% endfor %}
{% include "paginator.html" %}
</div>
{% endblock %}